body {
  background-color: HSL(210, 15%, 15%);
}

.format-genre-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
  max-height: 3em;
  max-width: 18rem;
}

.square-box {
    width: 18rem;  
    height: 18rem; 
    overflow: hidden; 
}

.square-box-2 {
  width: 25rem;  
  height: 25rem; 
  overflow: hidden; 
  border-radius: 5px;
}
.square-box-3 {
  width: 20rem;  
  height: 25rem; 
  overflow: hidden; 
  border-radius: 5px;
  background-color: HSL(340, 20%, 70%);
  padding: 10px;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.navbar-custom {
  background-color: hsl(0, 0%, 70%);
}

.customDropDown {
  width: 200px;
  margin-right: 127px; /*litt halvveis løsning menmen */
}

.custom-game-page-container {
  backdrop-filter: blur(5px);
  background-color: HSL(210, 10%, 25%);
  border-radius: 5px;
  width: 50vw;
  height: auto;
  padding: 15px;
  margin: 50px auto;
  padding: 2% 4%;
}

.custom-comment-box {
  padding: 10px;
  background-color: HSL(45, 60%, 70%);
  border-radius: 5px;
  
}

